.container {
    margin: 10%;
    padding: 10px;
    background-color: #92a393;
}

.Login .error {
    color: red;
    margin-bottom: 8px;
}

.header ul{
    list-style: none;
}

.header li{
    font-size: 20px;
    display: inline-block;
    padding-left: 15px;
}