.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App header {
  margin: 0px;
  padding: 1px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  background-color: black;
  color: whitesmoke;
  text-align: left;
  height: 45px;
  vertical-align: center;
  text-decoration: none;
}

.App header ul{
  list-style: none;
  vertical-align: center;
}

.App header li{
  font-size: 18px;
  display: inline-block;
  padding-left: 0px;
}

.App header li.onama{
  display: inline-block;
  padding-left: 20px;
}

.App a{
  text-decoration: none;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.App a:visited{
  text-decoration: none;
  color: whitesmoke;
  border: none;
}

.App a:active{
  border: none;
}

.App a:hover{
  border: none;
}

.App a:selection{
  border: none;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background: url("antique.jpg") no-repeat center fixed;
  background-size: cover;
}