.FormRow {
    margin: 10px 0;
}

.Form .FormRow:first-child {
    margin-top: 10px
}

.FormRow label {
    font-family: "Arial Black";
    display: block;
    font-size: 1.6rem;
    margin-bottom: 2px;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    color: black;
}

.Form input {
    width: 100%;
}

.FormRow input {
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 50%;
}

.FormRow input:focus {
    outline-color: green;
}

.FormRow input[type='checkbox'] {
    width: 25px;
    height: 25px;
}

.FormRow select {
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 50%;
}

.FormRow textarea {
    font-family: "Arial Black";
    padding: 15px;
    border: 1px solid #ccc;
    width: 95%;
}

.FormRow select:focus {
    outline-color: green;
}

.Form button {
    font-family: Arial;
    font-size: 20px;
    margin: 10px;
}

.Form button:hover {
    outline-color: green;
    background-colour: yellow;
}

.Form button:active {
    border: 1px solid green;
}

.Form .btn1{
    margin: 0.5px;
    padding: 1px 5px;
    font-size: 16px;
    cursor: pointer;
    width: 220px;
}

.Form option:active{
    background-colour: yellow;
}

.Form option::selection{
    background-colour: yellow;
}

.Form tr{
    text-align: left;
}

.Form table{
    padding-left: 17%;
}

.Form .greska {
    color: red;
}

.Form .forgot{
    color: blue;
    text-decoration: underline;
}