.Card {
    border-radius: 25px;
    margin: 3% 20%;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
}

.Card h2 {
    margin: 0 0 5px 0;
}

.Card a{
    text-decoration: none;
    color: blue;
    border: none;
    cursor: pointer;
}

.Card a:visited{
    text-decoration: none;
    color: blue;
}