.Container {
    border-radius: 25px;
    margin: 3% 30%;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
}

.Container h2 {
    margin: 0 0 5px 0;
}

.Container a{
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.Container a:visited{
    text-decoration: none;
    color: black;
}


