.Header {
    margin: 0px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    background-color: black;
    color: whitesmoke;
    text-align: left;

}

.Head header {
    margin: 0;
    padding: 1px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    background-color: black;
    color: whitesmoke;
    text-align: left;
    height: 45px;
    vertical-align: center;
    text-decoration: none;
}

.Head ul{
    list-style: none;
    vertical-align: center;
}

.Head li{
    font-size: 18px;
    display: inline-block;
    padding-left: 0;
}

.Head header .onama{
     display: inline-block;
     padding-left: 20px;
}

.Head a{
    text-decoration: none;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.Head a:visited{
    text-decoration: none;
    color: whitesmoke;
    border: none;
}

.Head a:active{
    border: none;
}

.Head a:hover{
    border: none;
}